In [1]:
spark = SparkSession. \
    builder. \
    appName("spark session demo"). \
    config("spark.sql.warehouse.dir", "C:/Users/Siranjeev/OneDrive/Desktop/spark_files"). \
    enableHiveSupport(). \
    master("local[*]"). \
    getOrCreate()

In [ ]:
#Converting RDD to Dataframe

In [21]:
orders_rdd = spark.sparkContext.textFile("/public/trendytech/retail_db/orders/part-00000")

In [22]:
orders_rdd.take(5)

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE']

In [23]:
new_ordered_rdd = orders_rdd.map(lambda x: (int(x.split(",")[0]),x.split(",")[1],(x.split(",")[2]),x.split(",")[3]))

In [24]:
new_ordered_rdd.take(5)

[(1, '2013-07-25 00:00:00.0', '11599', 'CLOSED'),
 (2, '2013-07-25 00:00:00.0', '256', 'PENDING_PAYMENT'),
 (3, '2013-07-25 00:00:00.0', '12111', 'COMPLETE'),
 (4, '2013-07-25 00:00:00.0', '8827', 'CLOSED'),
 (5, '2013-07-25 00:00:00.0', '11318', 'COMPLETE')]

In [25]:
orders_schema = ('order_id long', 'order_date string', 'cust_id integer', 'orderstatus string')

In [26]:
df = spark.createDataFrame(new_ordered_rdd,orders_schema)

In [27]:
df.show()

+-------------+--------------------+---------------+------------------+
|order_id long|   order_date string|cust_id integer|orderstatus string|
+-------------+--------------------+---------------+------------------+
|            1|2013-07-25 00:00:...|          11599|            CLOSED|
|            2|2013-07-25 00:00:...|            256|   PENDING_PAYMENT|
|            3|2013-07-25 00:00:...|          12111|          COMPLETE|
|            4|2013-07-25 00:00:...|           8827|            CLOSED|
|            5|2013-07-25 00:00:...|          11318|          COMPLETE|
|            6|2013-07-25 00:00:...|           7130|          COMPLETE|
|            7|2013-07-25 00:00:...|           4530|          COMPLETE|
|            8|2013-07-25 00:00:...|           2911|        PROCESSING|
|            9|2013-07-25 00:00:...|           5657|   PENDING_PAYMENT|
|           10|2013-07-25 00:00:...|           5648|   PENDING_PAYMENT|
|           11|2013-07-25 00:00:...|            918|    PAYMENT_REVIEW|
|           12|2013-07-25 00:00:...|           1837|            CLOSED|
|           13|2013-07-25 00:00:...|           9149|   PENDING_PAYMENT|
|           14|2013-07-25 00:00:...|           9842|        PROCESSING|
|           15|2013-07-25 00:00:...|           2568|          COMPLETE|
|           16|2013-07-25 00:00:...|           7276|   PENDING_PAYMENT|
|           17|2013-07-25 00:00:...|           2667|          COMPLETE|
|           18|2013-07-25 00:00:...|           1205|            CLOSED|
|           19|2013-07-25 00:00:...|           9488|   PENDING_PAYMENT|
|           20|2013-07-25 00:00:...|           9198|        PROCESSING|
+-------------+--------------------+---------------+------------------+
only showing top 20 rows

In [28]:
df.printSchema()

root
 |-- order_id long: long (nullable = true)
 |-- order_date string: string (nullable = true)
 |-- cust_id integer: string (nullable = true)
 |-- orderstatus string: string (nullable = true)

In [29]:
new_df = spark.createDataFrame(new_ordered_rdd).toDF('order_id', 'order_date', 'cust_id', 'order_status')

In [30]:
new_df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
|       4|2013-07-25 00:00:...|   8827|         CLOSED|
|       5|2013-07-25 00:00:...|  11318|       COMPLETE|
|       6|2013-07-25 00:00:...|   7130|       COMPLETE|
|       7|2013-07-25 00:00:...|   4530|       COMPLETE|
|       8|2013-07-25 00:00:...|   2911|     PROCESSING|
|       9|2013-07-25 00:00:...|   5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|   5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|    918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|   1837|         CLOSED|
|      13|2013-07-25 00:00:...|   9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|   9842|     PROCESSING|
|      15|2013-07-25 00:00:...|   2568|       COMPLETE|
|      16|2013-07-25 00:00:...|   7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|   2667|       COMPLETE|
|      18|2013-07-25 00:00:...|   1205|         CLOSED|
|      19|2013-07-25 00:00:...|   9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|   9198|     PROCESSING|
+--------+--------------------+-------+---------------+
only showing top 20 rows

In [31]:
new_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: string (nullable = true)
 |-- order_status: string (nullable = true)

In [32]:
df = new_ordered_rdd.toDF(orders_schema)

In [33]:
df.show()

+-------------+--------------------+---------------+------------------+
|order_id long|   order_date string|cust_id integer|orderstatus string|
+-------------+--------------------+---------------+------------------+
|            1|2013-07-25 00:00:...|          11599|            CLOSED|
|            2|2013-07-25 00:00:...|            256|   PENDING_PAYMENT|
|            3|2013-07-25 00:00:...|          12111|          COMPLETE|
|            4|2013-07-25 00:00:...|           8827|            CLOSED|
|            5|2013-07-25 00:00:...|          11318|          COMPLETE|
|            6|2013-07-25 00:00:...|           7130|          COMPLETE|
|            7|2013-07-25 00:00:...|           4530|          COMPLETE|
|            8|2013-07-25 00:00:...|           2911|        PROCESSING|
|            9|2013-07-25 00:00:...|           5657|   PENDING_PAYMENT|
|           10|2013-07-25 00:00:...|           5648|   PENDING_PAYMENT|
|           11|2013-07-25 00:00:...|            918|    PAYMENT_REVIEW|
|           12|2013-07-25 00:00:...|           1837|            CLOSED|
|           13|2013-07-25 00:00:...|           9149|   PENDING_PAYMENT|
|           14|2013-07-25 00:00:...|           9842|        PROCESSING|
|           15|2013-07-25 00:00:...|           2568|          COMPLETE|
|           16|2013-07-25 00:00:...|           7276|   PENDING_PAYMENT|
|           17|2013-07-25 00:00:...|           2667|          COMPLETE|
|           18|2013-07-25 00:00:...|           1205|            CLOSED|
|           19|2013-07-25 00:00:...|           9488|   PENDING_PAYMENT|
|           20|2013-07-25 00:00:...|           9198|        PROCESSING|
+-------------+--------------------+---------------+------------------+
only showing top 20 rows