In [1]:
spark = SparkSession. \
    builder. \
    appName("spark session demo"). \
    config("spark.sql.warehouse.dir", "C:/Users/Siranjeev/OneDrive/Desktop/spark_files"). \
    enableHiveSupport(). \
    master("local[*]"). \
    getOrCreate()

In [3]:
orders_schema = 'order_id long, order_date string, cust_id long, order_status string'

In [4]:
df = spark.read \
.format("csv") \
.schema(orders_schema) \
.load("/public/trendytech/datasets/orders_sample2.csv")

In [5]:
df.show()

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|07-25-2013|  11599|         CLOSED|
|       2|07-25-2013|    256|PENDING_PAYMENT|
|       3|07-25-2013|  12111|       COMPLETE|
|       4|07-25-2013|   8827|         CLOSED|
|       5|07-25-2013|  11318|       COMPLETE|
|       6|07-25-2013|   7130|       COMPLETE|
|       7|07-25-2013|   4530|       COMPLETE|
|       8|07-25-2013|   2911|     PROCESSING|
|       9|07-25-2013|   5657|PENDING_PAYMENT|
|      10|07-25-2013|   5648|PENDING_PAYMENT|
+--------+----------+-------+---------------+

In [6]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [7]:
from pyspark.sql.functions import to_date

In [8]:
new_df = df.withColumn("order_date_new",to_date("order_date","mm-dd-yyyy"))

In [9]:
new_df.show()

+--------+----------+-------+---------------+--------------+
|order_id|order_date|cust_id|   order_status|order_date_new|
+--------+----------+-------+---------------+--------------+
|       1|07-25-2013|  11599|         CLOSED|    2013-01-25|
|       2|07-25-2013|    256|PENDING_PAYMENT|    2013-01-25|
|       3|07-25-2013|  12111|       COMPLETE|    2013-01-25|
|       4|07-25-2013|   8827|         CLOSED|    2013-01-25|
|       5|07-25-2013|  11318|       COMPLETE|    2013-01-25|
|       6|07-25-2013|   7130|       COMPLETE|    2013-01-25|
|       7|07-25-2013|   4530|       COMPLETE|    2013-01-25|
|       8|07-25-2013|   2911|     PROCESSING|    2013-01-25|
|       9|07-25-2013|   5657|PENDING_PAYMENT|    2013-01-25|
|      10|07-25-2013|   5648|PENDING_PAYMENT|    2013-01-25|
+--------+----------+-------+---------------+--------------+

In [11]:
orders_list=[
(1,'2013-07-25 00:00:00.0',11599,'CLOSED'),
(2,'2013-07-25 00:00:00.0',256,'PENDING_PAYMENT'),
(3,'2013-07-25 00:00:00.0',12111,'COMPLETE')]

In [12]:
orders_df = spark.createDataFrame(orders_list)

In [13]:
orders_df.show()

+---+--------------------+-----+---------------+
| _1|                  _2|   _3|             _4|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
+---+--------------------+-----+---------------+

In [14]:
orders_df.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)
 |-- _4: string (nullable = true)

In [15]:
orders_df = spark.createDataFrame(orders_list).toDF('order_id', 'order_date', 'cust_id', 'order_status')

In [16]:
orders_df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+

In [ ]:
#changing column names

In [17]:
orders_df = spark.createDataFrame(orders_list)

In [18]:
orders_df1 = orders_df.toDF('order_id', 'order_date', 'cust_id', 'order_status')

In [19]:
new_df = orders_df.toDF('order_id', 'order_date', 'cust_id', 'orderstatus')

In [20]:
new_df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|    orderstatus|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+